body {
  margin: 0;
  height: 100%;
  background-color: silver;
}

#root {
  position: fixed;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

#banner {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-shrink: 0;
  background-color: teal;
  color: white;
}

#welcome_message {
  flex-grow: 2;
}

#connect_buttons {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
}

#connect_buttons button:first-child {
  margin-left: auto;
}

#connect_buttons button:last-child {
  margin-left: auto;
}

#content {
  top: 0;
  bottom: 0;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
}
